Rnw/*.aux
Rnw/*.idx
Rnw/*.out
Rnw/*.toc
Rnw/*.tex
Rnw/*.db
Rnw/*.npz
Rnw/*.npy
Rnw/*.log
Rnw/computing-tikzDictionary
Rnw/array2.txt
Rnw/df1.txt
Rnw/patients.txt
Rnw/computing*.pdf
computing*.tex
Rnw/cache/*